h1 {
	position: absolute;
	top: 80px;
	right: 500px;
	width: 200px;
	height: 100px;
}
h2 {
	position: absolute;
	top: 0px;
	right: 515px;
	width: 200px;
	height: 0px;
}
p {
	position: absolute;
	top: 185px;
	right: 455px;
	width: 200px;
	height: 100px;
}